<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ecs.android.listview.sample"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".AllOnUIThread"
                  android:label="AllOnUIThread"/>
        <activity android:name=".AsyncTaskSimple"
                  android:label="AsyncTaskSimple"/>
        <activity android:name=".AsyncTaskSimpleStateSaving"
                  android:label="AsyncTaskSimpleStateSaving"/>
        <activity android:name=".AsyncTaskSimpleConfigured"
        		 android:configChanges="keyboardHidden|orientation"
                  android:label="AsyncTaskSimpleConfigured"/>                  
        <activity android:name=".AsyncTaskComplex"
                  android:label="AsyncTaskComplex"/>

    </application>
</manifest> 